<p class="title"> resell<span style="color: #FFD100">U </span></p>

<div id="createAccount"> Create an Account  </div>

<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Your School Email" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Create Password" value="">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Confirm Password" value="">
      </mat-form-field> 
</form>
  

<button mat-raised-button color="primary" id="continue">Continue</button>

<div>  Already have an account? </div>

<div>  Login </div>

