/* Default styles for larger screens */
.profile-container {
  text-align: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.username {
  font-size: 25px;
  font-weight: bold;
}

.email {
  font-size: 20px;
}

/* Media query for smaller screens (max-width: 600px) */
@media only screen and (max-width: 600px) {
  .profile-image {
    width: 100px;
    height: 100px;
  }

  .username {
    font-size: 18px;
  }

  .email {
    font-size: 16px;
  }
}
