.profile-container {
  text-align: center;
}

.profile-image {
  width: 150px;  // Adjust the width as needed
  height: 150px;  // Adjust the height as needed
  border-radius: 50%;  // Make the image circular, adjust as needed
  margin-bottom: 10px;  // Add some space between image and username
}

.username {
  font-size: 25px;  // Adjust the font size as needed
  font-weight: bold;  // Make the font bold
}
