<app-header></app-header>
<mat-card>
  <mat-card-content>
    <div class="profile-container">
      <div class="profile-header">
        <!-- Display the red report button at the upper right corner -->
        <button mat-icon-button class="report-button red" (click)="navigateToReportUser()">
          <mat-icon>report</mat-icon>
        </button>
      </div>
      <img [src]="picture" class="profile-image" />
      <p class="username">{{ username || localUsername }}</p>
      <p class="email">{{ email }}</p>
      <!-- Display the college name -->
      <p class="college" *ngIf="collegeName">{{ collegeName }}</p>
    </div>
  </mat-card-content>
</mat-card>
