@mixin flexbox{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left:3rem;
}
.title{
    font-size: 32px;
    font-weight:bold;
    position: relative;
    top:5%;
    @include flexbox;
}


.fav-container{
    height: 10%;
    position: relative;
    top: 4rem;
    border: 1px solid #ddd; /* Add a border for each post */
    margin-bottom: 10px; /* Add some spacing between posts */
    padding: 10px; /* Add padding to the container */
    max-width: 43rem;
    @include flexbox;
    
}
.details{
    margin-left: 10px;
    white-space: nowrap; // Prevent text from wrapping to the next line
    overflow: hidden; // Hide overflow content
    text-overflow: ellipsis; // Show an ellipsis (...) when text overflows
}

.img{
    position: relative;
    top:100%;
}
  .product-grid {
      display: flex;
      flex-direction: column;
      margin-left: 2%;
      position: relative;
      top: 7%;
    }
  
  .product-tile:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    transform: translateY(-4px); 
    text-decoration: underline;
  }
  
  .product-tile {
    display: flex;
    flex-direction: column;
    margin: 16px;
    //width: 290px;
    max-width: 43rem;
    height: 100px;
    position:relative;
  }
  
  .product-image {
    height: 60%;
    width: 10%;
    object-fit: fit;
    position: absolute;
    bottom: 30px;
    left: 20px;
    
    
  }
  
  .product-name {
    font-size: 1.2em;
    margin-bottom: 8px;
    font-weight: bold;
    overflow: hidden;
    max-height: 40px;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    position: absolute;
    left: 12%;
    top: 36%;
    
  
  }
  
  .no-results {
    text-align: center;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
    font-size: 3em; 
  }
  