.product-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
  }

  .product-tile mat-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    transform: translateY(-4px); 
    text-decoration: underline;
  }
  
  .product-tile {
    margin: 16px;
    width: 200px;
  }
  
  .product-image {
    width: 200px;
    height: 100%;
  }
  
  .product-name {
    font-size: 1.2em;
    margin-bottom: 8px;
    font-weight: bold;
    overflow: hidden;
    max-height: 60px;
    text-overflow: ellipsis; 
    white-space: nowrap; 

  }
  
  .no-results {
    text-align: center;
    padding: 20px;
    margin: 20px;
    font-size: 3em; 
  }
  