<div class="flexbox">
    <p style="text-decoration:none;" class="title">resell<span style="color:#FFD100">U </span>  </p>
    <mat-card>
      <mat-card-title id="login">Set New Password</mat-card-title>
  
      <mat-card-content>
        <form [formGroup]="confirmForm" (ngSubmit)="confirm()">
  
          <mat-form-field appearance="outline">
            <input type="password" matInput placeholder="New Password" formControlName="password">
            <mat-error
              *ngIf="this.confirmForm.get('password')?.touched && this.confirmForm.get('password')?.hasError('required')">
              Password is required</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <input type="password" matInput placeholder="Confirm New Password" formControlName="passwordConfirm">
            <mat-error
              *ngIf="this.confirmForm.get('passwordConfirm')?.touched && this.confirmForm.get('passwordConfirm')?.hasError('required')">
              Password Confirmation is required</mat-error>
          </mat-form-field>
  
          <mat-error
            *ngIf="this.confirmForm.get('passwordConfirm')?.dirty && this.confirmForm.hasError('passwordsNotMatching')">
            Passwords are not matching!</mat-error>

          <div class = "button">
          <button id="continue" type="submit" mat-button [disabled]="!confirmForm.valid">Continue</button>
          </div>
        
      <!-- Button is disabled(not clickable), if our confirmForm contains Validation Errors -->

     </form>
  
              
      </mat-card-content>
  
    </mat-card>
  </div>
