<app-header> </app-header>
<mat-grid-list 
    gutterSize = "1"
    cols = "4"
    rowHeight = "2:1">
    <mat-grid-tile> 
        <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p> Dog </p>
                <p> $150.00</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile> 
        <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p> Dog </p>
                <p> $150.00</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile> 
        <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p> Dog </p>
                <p> $150.00</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile> 
        <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p> Dog </p>
                <p> $150.00</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile> 
        <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p> Dog </p>
                <p> $150.00</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>



</mat-grid-list>