<app-header> </app-header>
<mat-grid-list 
    gutterSize = "5px"
    cols = "6"
    rowHeight = "fit"
    style="height:500px;">
    <mat-grid-tile *ngFor="let product of products"> 
        <mat-button [routerLink]="['/protected/listing']">

        <mat-card>
            <img mat-card-image [src]="product.image" style="width: 200px; height: 200px;" loading="lazy">
            <mat-card-content>
                <p> Name: {{product.dynamoDBItem.itemName}}</p>
                <p> Price: ${{product.dynamoDBItem.price}}</p>
            </mat-card-content>
        </mat-card>
        </mat-button>
    </mat-grid-tile>
</mat-grid-list>