
<mat-toolbar color="primary" class="mat-elevation-z8">
  <div class="resellLogo"><mat-icon>eco</mat-icon> ResellU</div>
  
  <div class="wrapper">
      <div class="searchBar">
        <input id="searchQueryInput" type="text" name="searchQueryInput" placeholder="Search" value="" />
      </div>
  </div>
  <div class ="address">Current Address</div>
 
  <div class="spacer"></div>
  <a mat-button [routerLink]="['../favorites']">Favorites</a>
  <a mat-button [routerLink]="['../messages']">Messages</a>
  <a mat-button [routerLink]="['../profile']">Profile</a>
  <a mat-raised-button [routerLink]="['../create-listing']" class="postButton">Post Listing</a>

</mat-toolbar>


<mat-toolbar style="background-color: white;">
  <button mat-button [matMenuTriggerFor]="menu1"  #menuTrigger="matMenuTrigger"
  (mouseover)="openMyMenu(menuTrigger)" >Electronics</button>
  <mat-menu #menu1="matMenu" >
    <button mat-menu-item>Item 1</button>
  </mat-menu>
  
  <button mat-button [matMenuTriggerFor]="menu2" #menuTrigger2="matMenuTrigger"
  (mouseover)="openMyMenu(menuTrigger2)" >Clothing & Accessories</button>
  <mat-menu #menu2="matMenu">
    <button mat-menu-item>Item 1</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu3" #menuTrigger3="matMenuTrigger"
  (mouseover)="openMyMenu(menuTrigger3)" >Books</button>
  <mat-menu #menu3="matMenu">
    <button mat-menu-item>Item 1</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu4" #menuTrigger4="matMenuTrigger"
  (mouseover)="openMyMenu(menuTrigger4)" >School Appliances</button>
  <mat-menu #menu4="matMenu">
    <button mat-menu-item>Item 1</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu5" #menuTrigger5="matMenuTrigger"
  (mouseover)="openMyMenu(menuTrigger5)" >Furniture</button>
  <mat-menu #menu5="matMenu">
    <button mat-menu-item>Item 1</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu6" #menuTrigger6="matMenuTrigger"
  (mouseover)="openMyMenu(menuTrigger6)" >Sports & Outdoors</button>
  <mat-menu #menu6="matMenu">
    <button mat-menu-item>Item 1</button>
  </mat-menu>
</mat-toolbar>
<mat-divider></mat-divider>