
<mat-toolbar color="primary" class="mat-elevation-z8">
  <span><mat-icon>eco</mat-icon> ResellU</span>
  
  <div class="wrapper">
      <div class="searchBar">
        <input id="searchQueryInput" type="text" name="searchQueryInput" placeholder="Search" value="" />
      </div>
  </div>
  <span>Current Address</span>
 
  <div class="spacer"></div>
  <a mat-button routerLink="home">Favorites</a>
  <a mat-button routerLink="services">Messages</a>
  <a mat-button routerLink="projects">Post Listing</a>
  <a mat-button routerLink="projects">Profile</a>

  <a mat-raised-button color="accent" [routerLink]="['../create-listing']">Create Listing</a>
</mat-toolbar>



<div class="listingbox">
    <mat-card-title class="title">resell<span style="color: #FFD100">U </span>  </mat-card-title>
    <mat-card>
      <mat-card-title id="createAccount">Create a Listing</mat-card-title>
  
      <mat-card-content>
        <form [formGroup]="registerForm">
  
          <mat-form-field appearance="outline">
            <mat-label>Images</mat-label>

            <input matInput placeholder="Enter an Image" formControlName="image">
            <!-- Here we can display error messages/hints for the user, if one of the Validators adds an error to the email 
             with the .touched check we only display the hints if the input was touched by the users -->
            <mat-error
              *ngIf="this.registerForm.get('image')?.touched && this.registerForm.get('image')?.hasError('required')">
              Pictures are required</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Item Name</mat-label>

            <input type="text" matInput placeholder="Item Name" formControlName="itemName">
            <mat-error
              *ngIf="this.registerForm.get('itemName')?.touched && this.registerForm.get('itemName')?.hasError('required')">
              Item Name is required</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Item Description</mat-label>
            <input type="text" matInput placeholder="Enter Item Description" formControlName="itemDescription">
            <mat-error
              *ngIf="this.registerForm.get('itemDescription')?.touched && this.registerForm.get('itemDescription')?.hasError('required')">
              Description is required</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Condition</mat-label>
            <mat-select formControlName="condition">
              <mat-option>None</mat-option>
              <mat-option value="option1">New</mat-option>
              <mat-option value="option2">Lightly Used</mat-option>
              <mat-option value="option3">Used</mat-option>
              <mat-option value="option3">Very Used</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Catagory</mat-label>
            <mat-select formControlName="catagory">
              <mat-option>None</mat-option>
              <mat-option value="option1">Electronics and Media</mat-option>
              <mat-option value="option2">Home and Garden</mat-option>
              <mat-option value="option3">Fruniture</mat-option>
              <mat-option value="option4">Clothes</mat-option>
              <mat-option value="option5">Vehicles</mat-option>
              <mat-option value="option6">Toys and Games</mat-option>
              <mat-option value="option7">Sports and Outdoors</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input type="number" matInput placeholder="Enter Price" formControlName="price">
            <mat-error
              *ngIf="this.registerForm.get('price')?.touched && this.registerForm.get('price')?.hasError('required')">
              Price is required</mat-error>
          </mat-form-field>

        </form>
        
      <!-- Button is disabled(not clickable), if our RegisterForm contains Validation Errors -->
      <button id="continue" type="submit" mat-raised-button color="primary" [disabled]="!registerForm.valid">Create Listing</button>

      <div
        class="drop-zone"
        (dragover)="onDragOver($event)"
        (drop)="onDrop($event)"
      >
        Drag and drop an image here or click to select an image.
      </div>
  
  
      <div>
        Already have an account?
        <a [routerLink]="['../login']">Sign in.</a>
      </div>
  
              
      </mat-card-content>
  
    </mat-card>
  </div>