<app-header></app-header>

<!-- listing.component.html -->

<div class="listing-container">
    <div class="listing-image">
      <!-- Replace 'image-url.jpg' with the actual image URL -->
      <img [src] ="picture + currentImage" alt="Listing Image" />
      
    </div>
    <div class="listing-details">
      <div class="listing-info">
        <h2 class="mat-title">{{listingData?.itemName}}</h2>
        <p class="mat-body-1">Price: ${{listingData?.price}} </p>
        <p class="mat-body-1">Posted on: January 1, 2023</p>
        <p class="mat-body-1">Condition: {{listingData.condition}}</p>
        <p class="mat-body-1">Category: {{listingData.catagory}}</p>
        <button class="msg" mat-raised-button color="primary" (click)="redirectToMessages()">Message Seller</button>
        <div class="buttons">
          <button class="favorite" mat-stroked-button>
            Save <mat-icon>favorite_border</mat-icon>
          </button>
          <button class="report" mat-stroked-button>
            Report<mat-icon>report</mat-icon>
          </button>
        </div>
        <div class="seller-profile">
          <img src="https://picsum.photos/200/300" alt="Seller Profile Picture" />
          <p class="seller-name">{{listingData.userName.username}}</p>
      </div>
      </div>
    </div>
  </div>

  <div class="image-thumbnails">
    <div class = "thumbnail-container" *ngFor="let imageUrl of imageUrls; let i = index" (click)="selectImage(i)">
      <img [src]="picture+ imageUrl" alt="Thumbnail Image" class = "thumbnail-img" />
    </div>
  </div>
<div class="description-container">
  <h2 class="description-title">Description</h2>
  <div>{{listingData.itemDescription}}</div>
</div>

