<app-header> </app-header>

<!-- listing.component.html -->

<div class="mat-card listing-container">
    <div class="listing-image">
      <!-- Replace 'image-url.jpg' with the actual image URL -->
      <img src="image-url.jpg" alt="Listing Image" />
    </div>
    <div class="listing-details">
      <div class="listing-info">
        <h2 class="mat-title">Item Name</h2>
        <p class="mat-body-1">Price: $100</p>
        <p class="mat-body-1">Posted on: January 1, 2023</p>
        <p class="mat-body-1">Condition: New</p>
        <p class="mat-body-1">Category: Electronics</p>
      </div>
      <div class="listing-description">
        <p class="mat-body-1">
          This is the description of the item.
        </p>
      </div>
      <button mat-raised-button color="primary">Message Seller</button>
      <button id="invokeButton">Invoke Lambda Function</button>
      <div id="data-container"></div>


    </div>
  </div>
  
