<app-header></app-header>

<!-- listing.component.html -->

<div class="listing-container">
    <div class="listing-image">
      <!-- Replace 'image-url.jpg' with the actual image URL -->
      <img src="https://picsum.photos/200/300" alt="Listing Image" />
    </div>
    <div class="listing-details">
      <div class="listing-info">
        <h2 class="mat-title">Item Name</h2>
        <p class="mat-body-1">Price: $100</p>
        <p class="mat-body-1">Posted on: January 1, 2023</p>
        <p class="mat-body-1">Condition: New</p>
        <p class="mat-body-1">Category: Electronics</p>
        <button class = "msg"mat-raised-button color="primary">Message Seller</button>
        <div class="buttons">
          <button class="favorite" mat-stroked-button>
            Save <mat-icon>favorite_border</mat-icon>
          </button>
          <button class="report" mat-stroked-button>
            Report<mat-icon>report</mat-icon>
          </button>
        </div>
        <div class="seller-profile">
          <img src="https://picsum.photos/200/300" alt="Seller Profile Picture" />
          <p class="seller-name">Seller's Name</p>
      </div>
      
      </div>
    </div>
</div>

<div class="description-container">
  <h2 class="description-title">Description</h2>
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil eius veniam tempora, accusamus atque libero dicta, nemo vel perferendis ex sint praesentium vitae quam quas repellat repellendus. Aliquid, dolorem iure! Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae reiciendis nostrum dicta tempora. Quis dolorum nihil itaque, placeat iure odio quos, quo non, ab praesentium officia labore saepe aspernatur voluptatum? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit error odit non laborum ab, dignissimos repellat libero, optio modi dolorum hic ullam debitis, neque tenetur eum a inventore itaque possimus.</div>
</div>

