// Mixin flex property for reusability
@mixin flexbox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
mat-card {
  @include flexbox();

  max-width: 400px;

  mat-card-content {
    @include flexbox();

    form {
      @include flexbox();
      .mat-form-field {
        width: 100%;
        min-width: 300px;
      }

      mat-error {
        margin-top: 1px;
        margin-bottom: 1px;
        width: 100%;
        color: red;
      }
    }
  }
}

.flexbox {
  @include flexbox()
}

.title{
  line-height: 40px !important;
  margin: 30px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 87px;
  color: #2774AE;
}


/* Create an Account */
#createAccount{
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

#continue{
  background: #2774AE;
  /* shadow/sm */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 2px;


  /* Label */
  width: 190px;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 10px;

  font-family: 'Open Sans';
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  
  /* White  · Background Primary */
  color: #FFFFFF;
}

/* Media query for responsiveness */
@media only screen and (max-width: 600px) {
  .title {
    font-size: 6vw; /* Adjust font size for smaller screens */
    line-height: 10vw; /* Adjust line height for smaller screens */
    margin: 5vw; /* Adjust margin for smaller screens */
  }

  #createAccount {
    font-size: 4vw; /* Adjust font size for smaller screens */
    line-height: 6vw; /* Adjust line height for smaller screens */
  }

  #continue {
    width: 50%; /* Adjust width for smaller screens */
    height: 8vw; /* Adjust height for smaller screens */
    margin-top: 2.5vw; /* Adjust margin top for smaller screens */
    margin-bottom: 5vw; /* Adjust margin bottom for smaller screens */
    font-size: 3.33vw; /* Adjust font size for smaller screens */
    line-height: 4vw; /* Adjust line height for smaller screens */
  }
}