<app-header></app-header>
<div class="flexbox">
  
        <form [formGroup]="changeForm" (ngSubmit)="confirm()">
        <p id = "login"> Enter Old Password</p>
        <mat-form-field appearance="outline">
            <input type="password" matInput placeholder="Old Password" formControlName="password">
            <mat-error
                *ngIf="this.changeForm.get('password')?.touched && this.changeForm.get('password')?.hasError('required')">
                Password is required</mat-error>
            </mat-form-field>

        <p id="login">Set New Password</p>
  
          <mat-form-field appearance="outline">
            <input type="password" matInput placeholder="New Password" formControlName="password">
            <mat-error
              *ngIf="this.changeForm.get('password')?.touched && this.changeForm.get('password')?.hasError('required')">
              Password is required</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <input type="password" matInput placeholder="Confirm New Password" formControlName="passwordConfirm">
            <mat-error
              *ngIf="this.changeForm.get('passwordConfirm')?.touched && this.changeForm.get('passwordConfirm')?.hasError('required')">
              Password Confirmation is required</mat-error>
          </mat-form-field>
  
          <mat-error
            *ngIf="this.changeForm.get('passwordConfirm')?.dirty && this.changeForm.hasError('passwordsNotMatching')">
            Passwords are not matching!</mat-error>

          <div class = "button">
          <button id="continue" type="submit" mat-button [disabled]="!changeForm.valid">Continue</button>
          </div>
        
      <!-- Button is disabled(not clickable), if our changeForm contains Validation Errors -->

     </form>
  </div>
