<div class = "flexbox" >
    <mat-card>
      <p style="text-decoration:none;" class="title">resell<span style="color: #FFD100">U </span>  </p>
      <mat-card-title id= "login">Forgot Password</mat-card-title>
      <mat-card-content>
        <form [formGroup]="emailForm" (ngSubmit)="sendEmail()" >
            <p class ="text"> Enter the email address you used for your account and we'll send you a link to reset your password</p>
  
          <mat-form-field appearance="outline">
            <input type="email" matInput placeholder="email" formControlName="email">
            <!-- Here we can display error messages/hints for the user, if one of the Validators adds an error to the email 
             with the .touched check we only display the hints if the input was touched by the users -->
            <mat-error *ngIf="this.emailForm.get('email')?.touched && this.emailForm.get('email')?.hasError('required')">
              Email is required</mat-error>
            <mat-error *ngIf="this.emailForm.get('email')?.touched && this.emailForm.get('email')?.hasError('email')">
              Email must be a valid Email</mat-error>
          </mat-form-field>

  
          <div class="button">
            <!-- Button is disabled(not clickable), if our LoginForm contains Validation Errors -->
            <button type="submit" mat-button [disabled]="!emailForm.valid"> Continue </button>
          </div>

          <div *ngIf="success" class="success-message">
            {{ success }}
          </div>
          
          <a [routerLink]="['../confirm-password']" class="shift">Test</a>
  
          </div>  
        </form>
      </mat-card-content>
    </mat-card>
  </div>
