<div class = "flexbox" >
  <mat-card>
    
    <p style="text-decoration:none;" class="title">resell<span style="color: #FFD100">U </span>  </p>
     
    <mat-card-title id= "login">Login</mat-card-title>
    <mat-error *ngIf="authError" class = "incorrectMessage">
      {{ authError }}
    </mat-error>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()">

        <mat-form-field appearance="outline">
          <input type="email" matInput placeholder="Username" formControlName="username">
          <!-- Here we can display error messages/hints for the user, if one of the Validators adds an error to the email 
           with the .touched check we only display the hints if the input was touched by the users -->
          <mat-error *ngIf="this.loginForm.get('username')?.touched && this.loginForm.get('username')?.hasError('required')">
            Username is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input type="password" matInput placeholder="Password" formControlName="password">
          <mat-error
            *ngIf="this.loginForm.get('password')?.touched && this.loginForm.get('password')?.hasError('required')">
            Password is required</mat-error>
        </mat-form-field>

  
        
        <a [routerLink]="['../forgot-password']" class="shift">Forgot your password?</a>

        <div class="button">
          <!-- Button is disabled(not clickable), if our LoginForm contains Validation Errors -->
          <button type="submit" mat-button [disabled]="!loginForm.valid">Login</button>
        </div>

        <div class = "flexbox">
          Don't have an account?
          <a [routerLink]="['../register']">Create an account</a>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>