@mixin flexbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

mat-card {
  @include flexbox;
  max-width: 600px;

  & mat-card-title,
  & mat-card-content {
    @include flexbox;

    form {
      @include flexbox;
      .mat-form-field {
        width: 100%;
        min-width: 50%;
      }

      .error {
        padding: 2.67%;
        width: 50%;
        color: white;
        background-color: red;
      }

      .button {
        background: #2774AE;
        /* shadow/sm */
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #2774AE;
        height: 6.67%; /* 40px height in relation to the parent container */
        width: 31.67%; /* 190px width in relation to the parent container */
        margin-top: 5px;
        margin-bottom: 10px;
        text-align: center;
        font-family: 'Open Sans';
        font-style: normal;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
      }
    }
  }
}

.title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 87px;
  color: #2774AE;
}

#login {
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
  color: black;
}

.flexbox {
  @include flexbox;
}

.shift {
  margin-right: 448px;
}

.incorrectMessage {
  position: relative;
  right: 31.5%;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 6.67vw; /* Adjust font size for smaller screens */
    line-height: 8vw; /* Adjust line height for smaller screens */
  }

  #login {
    font-size: 4vw; /* Adjust font size for smaller screens */
    line-height: 4.67vw; /* Adjust line height for smaller screens */
  }

  .shift {
    margin-right: 30%; /* Adjust margin for smaller screens */
  }

  .incorrectMessage {
    right: 5.25%; /* Adjust position for smaller screens */
  }
}
