/* messages.component.scss */

.message-user-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
  
    @media (max-width: 768px) {
      /* Adjust styles for screens up to 768px wide */
      max-width: 100%;
      padding: 10px;
    }
  
    input {
      width: 100%;
      margin-bottom: 10px;
  
      @media (max-width: 768px) {
        /* Adjust input styles for screens up to 768px wide */
        margin-bottom: 5px;
      }
    }
  
    .message-sent-text {
      margin-top: 10px;
      color: green;
      font-weight: bold;
    }
  }
  