
<mat-toolbar color="primary" class="mat-elevation-z8">
  <span><mat-icon>eco</mat-icon> ResellU</span>
  
  <div class="wrapper">
      <div class="searchBar">
        <input id="searchQueryInput" type="text" name="searchQueryInput" placeholder="Search" value="" />
      </div>
  </div>
  <span>Current Address</span>
 
  <div class="spacer"></div>
  <a mat-button routerLink="home">Favorites</a>
  <a mat-button routerLink="services">Messages</a>
  <a mat-button routerLink="projects">Post Listing</a>
  <a mat-button routerLink="projects">Profile</a>

  <a mat-raised-button color="accent" [routerLink]="['../create-listing']">Create Listing</a>
</mat-toolbar>


<div class="listingbox">
    <mat-card-title class="title">resell<span style="color: #FFD100">U </span>  </mat-card-title>
    <mat-card>
      <mat-card-title id="createAccount">Create a Listing</mat-card-title>
  
      <mat-card-content>
        
        <form [formGroup]="createListingForm">
  
          <mat-form-field appearance="outline">
            <mat-label>Item Name</mat-label>

            <input type="text" matInput placeholder="Item Name" formControlName="itemName">
            <mat-error
              *ngIf="this.createListingForm.get('itemName')?.touched && this.createListingForm.get('itemName')?.hasError('required')">
              Item Name is required</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Item Description</mat-label>
            <textarea type="text" matInput placeholder="Enter Item Description" formControlName="itemDescription" ></textarea>
            <mat-error
              *ngIf="this.createListingForm.get('itemDescription')?.touched && this.createListingForm.get('itemDescription')?.hasError('required')">
              Description is required</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Condition</mat-label>
            <mat-select formControlName="condition">
              <mat-option>None</mat-option>
              <mat-option value="option1">New</mat-option>
              <mat-option value="option2">Lightly Used</mat-option>
              <mat-option value="option3">Used</mat-option>
              <mat-option value="option3">Very Used</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Catagory</mat-label>
            <mat-select formControlName="catagory">
              <mat-option>None</mat-option>
              <mat-option value="option1">Electronics and Media</mat-option>
              <mat-option value="option2">Home and Garden</mat-option>
              <mat-option value="option3">Fruniture</mat-option>
              <mat-option value="option4">Clothes</mat-option>
              <mat-option value="option5">Vehicles</mat-option>
              <mat-option value="option6">Toys and Games</mat-option>
              <mat-option value="option7">Sports and Outdoors</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input type="number" matInput placeholder="Enter Price" formControlName="price">
            <mat-error
              *ngIf="this.createListingForm.get('price')?.touched && this.createListingForm.get('price')?.hasError('required')">
              Price is required</mat-error>
          </mat-form-field>

          <div style="padding: 15px;">
            <div>
              <div class="dropzone" fileDragDrop (filesChangeEmiter)="onFileChange($any($event))">
                <div class="text-wrapper">
                  <div class="centered">
                    <input type="file" name="file" id="file" (change)="onFileChange($any($event.target))" multiple>
                    <label for="file"><span class="textLink">Select your file</span> or Drop it here!</label>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </form>
        
      <!-- Button is disabled(not clickable), if our createListingForm contains Validation Errors -->
      <button id="continue" type="submit" mat-raised-button color="primary" [disabled]="!createListingForm.valid">Create Listing</button>
  
  
      <div>
        Already have an account?
        <a [routerLink]="['../login']">Sign in.</a>
      </div>
  
              
      </mat-card-content>
  
    </mat-card>

    <hr>
    <h3 mat-subheader>Files</h3>
    <div class="row fileItem" *ngFor="let f of files; let ind = index">
      <div class="col-sm-12 fileItemIconDiv" (click)="openConfirmDialog(ind);">
        <i class="fa-6x fileItemIcon"></i>
      </div>
      <div class="col-sm-12 fileItemText">
        <span>{{f.name}}</span>
      </div>
    </div>
  </div>