<app-header></app-header>




<div class="listingbox">
    <mat-card-title class="title">resell<span style="color: #FFD100">U </span>  </mat-card-title>
    <mat-card>
      <mat-card-title id="createAccount">Create a Listing</mat-card-title>
  
      <mat-card-content>
        
        <form [formGroup]="createListingForm" (ngSubmit)="createListing()">

          <mat-form-field appearance="outline">
            <mat-label>UUID</mat-label>

            <input type="text" matInput placeholder="UUID" formControlName="uuid">
            <mat-error
              *ngIf="this.createListingForm.get('uuid')?.touched && this.createListingForm.get('uuid')?.hasError('uuid')">
              UUID is required</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Item Name</mat-label>

            <input type="text" matInput placeholder="Item Name" formControlName="itemName">
            <mat-error
              *ngIf="this.createListingForm.get('itemName')?.touched && this.createListingForm.get('itemName')?.hasError('required')">
              Item Name is required</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Item Description</mat-label>
            <textarea type="text" matInput placeholder="Enter Item Description" formControlName="itemDescription" ></textarea>
            <mat-error
              *ngIf="this.createListingForm.get('itemDescription')?.touched && this.createListingForm.get('itemDescription')?.hasError('required')">
              Description is required</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Condition</mat-label>
            <mat-select formControlName="condition">
              <mat-option>None</mat-option>
              <mat-option value="New">New</mat-option>
              <mat-option value="Lightly User">Lightly Used</mat-option>
              <mat-option value="Used">Used</mat-option>
              <mat-option value="Very Used">Very Used</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select formControlName="catagory">
              <mat-option>None</mat-option>
              <mat-option value="Electronics and Media">Electronics and Media</mat-option>
              <mat-option value="Home and Garden">Home and Garden</mat-option>
              <mat-option value="Fruniture">Fruniture</mat-option>
              <mat-option value="Clothes">Clothes</mat-option>
              <mat-option value="Vehciles">Vehicles</mat-option>
              <mat-option value="Toys and Games">Toys and Games</mat-option>
              <mat-option value="Sports and Outdoors">Sports and Outdoors</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input type="number" matInput placeholder="Enter Price" formControlName="price">
            <mat-error
              *ngIf="this.createListingForm.get('price')?.touched && this.createListingForm.get('price')?.hasError('required')">
              Price is required</mat-error>
          </mat-form-field>

          <div style="padding: 15px;">
            <div>
                <div class="dropzone" fileDragDrop (filesChangeEmiter)="onFileChange($any($event))">
                  <!---->
                 <!--<input type="file" name="file" accept="image/*" formControlName = "image" required/>
                 -->
                    <div class="text-wrapper">
                      <div class="centered">
                        <input type="file" name="file" id="file" (change)="onFileChange($any($event.target))" multiple formControlName = "images">
                        <label for="file"><span class="textLink">Select your file</span> or Drop it here!</label>
                      </div>
                    </div>
                </div>
            </div>
          </div>


          <button id="continue" type="submit" mat-raised-button color="primary" [disabled]="!createListingForm.valid">Continue</button>


          
        </form>
      
      
        
      <!-- Button is disabled(not clickable), if our createListingForm contains Validation Errors -->
      <div>
        Already have an account?
        <a [routerLink]="['../login']">Sign in.</a>
      </div>
  
      </mat-card-content>
  
    </mat-card>

    <hr>
    <h3 mat-subheader>Files</h3>
    <div class="row fileItem" *ngFor="let f of files; let ind = index">
      <div class="col-sm-12 fileItemIconDiv" (click)="openConfirmDialog(ind);">
        <i class="fa-6x fileItemIcon"></i>
      </div>
      <div class="col-sm-12 fileItemText">
        <span>{{f.name}}</span>
      </div>
    </div>
  </div>