<!-- Top navbar -->
<mat-toolbar color="primary" *ngIf ="!isSmallScreen">
  <button mat-button routerLink="/protected/home"> <span><p style="text-decoration:none;" class="title">resell<span style="color: #FFD100">U </span>  </p>
  </span> </button>
  
  <div class="wrapper">
      <div class="searchBar">
        <input id="searchQueryInput" type="text" name="searchQueryInput" placeholder="Search" value="" />
      </div>
  </div>

  <div id="address"> <mat-icon> location_on</mat-icon> College Address</div>
  <div class="spacer"></div>
  
  <!-- Buttons for favorite, messages, and create listing-->
  <div class="navButton">
    <a mat-button routerLink="/protected/favorites"> <mat-icon> favorite_border </mat-icon></a>
    <a mat-button routerLink="/protected/messages"> <mat-icon> message </mat-icon></a>
    <a mat-button [routerLink]="['/protected/create-listing']"><mat-icon> attach_money </mat-icon> </a>
  </div>
  

  <!-- Dropdown menu for profile-->
  <button mat-button [matMenuTriggerFor]="dropdown"  #menuTrigger="matMenuTrigger"> 
    <img [src]="picture"> 
  </button>
  <div id="dropdown">
    <mat-menu #dropdown="matMenu">
      <span>
        <button class="profile-button" mat-menu-item [routerLink]="['/protected/profile']">
          <div>
            <img [src]=picture> 
          </div>
        </button>
        <button mat-menu-item [routerLink]="['/protected/selling']">Selling</button>
        <button mat-menu-item  [routerLink]="['/protected/setting']">Account Settings</button>
        <button mat-menu-item (click)="logout()">Log out</button>
      </span>
    </mat-menu>
  </div>
</mat-toolbar>


<!--Mobile Top Bar-->
<mat-toolbar color="primary" *ngIf ="isSmallScreen">
  <button mat-icon-button (click) ="opened = !opened"> <mat-icon> menu </mat-icon></button>
  <button mat-button routerLink="/protected/home"> <span><p style="text-decoration:none;" class="title">resell<span style="color: #FFD100">U </span>  </p>
  </span> </button>
  
  
  <!-- Buttons for favorite, messages, and create listing-->
  <div class="navButton">
    <a mat-button class routerLink="/protected/favorites"> <mat-icon> favorite_border </mat-icon></a>
    <a mat-button routerLink="/protected/messages"> <mat-icon> message </mat-icon></a>
    <a mat-button [routerLink]="['/protected/create-listing']"><mat-icon> attach_money </mat-icon> </a>
  </div>

  <!-- Dropdown menu for profile-->
  <button mat-button [matMenuTriggerFor]="dropdown"  #menuTrigger="matMenuTrigger"> 
    <img [src]="picture"> 
  </button>
  <div id="dropdown">
    <mat-menu #dropdown="matMenu">
      <span>
        <button class="profile-button" mat-menu-item [routerLink]="['/protected/profile']">
          <div>
            <img [src]=picture> 
          </div>
        </button>
        <button mat-menu-item [routerLink]="['/protected/selling']">Selling</button>
        <button mat-menu-item  [routerLink]="['/protected/setting']">Account Settings</button>
        <button mat-menu-item (click)="logout()">Log out</button>
      </span>
    </mat-menu>
  </div>
</mat-toolbar>


<!-- Sidebar for mobile devices-->
<mat-sidenav-container *ngIf ="isSmallScreen">
  <mat-sidenav [(opened)]="opened" mode = "side" >
    <a routerLink="/protected/profile"> Profile</a>
  </mat-sidenav>
  <mat-sidenav-content>
    hi
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Category bar -->
<mat-toolbar id=categories style="background-color: white; z-index: 1000;" *ngIf="!isSmallScreen">
  <button mat-button [matMenuTriggerFor]="menu1"  #menuTrigger1="matMenuTrigger" 
  [routerLink]="['/protected/home/electronics']" (mouseenter)="buttonEnter(menuTrigger1)" (mouseleave)="buttonLeave(menuTrigger1)" style="z-index:1050">Electronics</button>
  <mat-menu #menu1="matMenu">
    <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(menuTrigger1)">
        <button mat-menu-item [routerLink]="['/protected/home/computers']">Computers</button>
        <button mat-menu-item  [routerLink]="['/protected/home/phones']">Phones</button>
        <button mat-menu-item [routerLink]="['/protected/home/consoles']">Game Consoles</button>
        <button mat-menu-item [routerLink]="['/protected/home/chargers']">Chargers</button>
        <button mat-menu-item  [routerLink]="['/protected/home/accessories']">Electronic Accessories</button>
    </span>
  </mat-menu>
  
  <button mat-button [matMenuTriggerFor]="menu2" #menuTrigger2="matMenuTrigger"
  [routerLink]="['/protected/home/clothing']" (mouseenter)="buttonEnter(menuTrigger2)" (mouseleave)="buttonLeave(menuTrigger2)" style="z-index:1050">Clothing & Accessories</button>
  <mat-menu #menu2="matMenu">
    <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(menuTrigger2)">
      <button mat-menu-item [routerLink]="['/protected/home/mentops']">Men's Tops</button>
      <button mat-menu-item [routerLink]="['/protected/home/womentops']">Women's Tops</button>
      <button mat-menu-item [routerLink]="['/protected/home/pants']">Men's pants</button>
      <button mat-menu-item [routerLink]="['/protected/home/shoes']">Shoes</button>
      <button mat-menu-item [routerLink]="['/protected/home/socks']">Socks</button>
    </span>
  </mat-menu> 
  <button mat-button [matMenuTriggerFor]="menu3"  #menuTrigger3="matMenuTrigger"
  [routerLink]="['/protected/home/books']" (mouseenter)="buttonEnter(menuTrigger3)" (mouseleave)="buttonLeave(menuTrigger3)" style="z-index:1050">Books</button>
  <mat-menu #menu3="matMenu">
    <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(menuTrigger3)">
      <button mat-menu-item [routerLink]="['/protected/home/textbooks']">Textbooks</button>
      <button mat-menu-item [routerLink]="['/protected/home/novels']">Novels</button>
      <button mat-menu-item [routerLink]="['/protected/home/fiction']">Fiction</button>
      <button mat-menu-item [routerLink]="['/protected/home/nonfiction']">Nonfiction</button>
      <button mat-menu-item [routerLink]="['/protected/home/manga']">Manga & Light Novels</button>
    </span>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu4"  #menuTrigger4="matMenuTrigger"
  [routerLink]="['/protected/home/school']" (mouseenter)="buttonEnter(menuTrigger4)" (mouseleave)="buttonLeave(menuTrigger4)" style="z-index:1050">School Appliances</button>
  <mat-menu #menu4="matMenu">
    <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(menuTrigger4)">
      <button mat-menu-item [routerLink]="['/protected/home/notebooks']">Notebooks</button>
      <button mat-menu-item [routerLink]="['/protected/home/pencils']">Pencils & Pens</button>
      <button mat-menu-item [routerLink]="['/protected/home/backpacks']">Backpacks</button>
      <button mat-menu-item [routerLink]="['/protected/home/erasers']">Erasers</button>
    </span>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu5"  #menuTrigger5="matMenuTrigger"
  [routerLink]="['/protected/home/furniture']" (mouseenter)="buttonEnter(menuTrigger5)" (mouseleave)="buttonLeave(menuTrigger5)" style="z-index:1050">Furniture</button>
  <mat-menu #menu5="matMenu">
    <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(menuTrigger5)">
      <button mat-menu-item [routerLink]="['/protected/home/tables']">Tables</button>
      <button mat-menu-item [routerLink]="['/protected/home/chairs']">Chairs</button>
      <button mat-menu-item [routerLink]="['/protected/home/lamps']">Lamps</button>
      <button mat-menu-item [routerLink]="['/protected/home/beds']">Beds</button>
      <button mat-menu-item [routerLink]="['/protected/home/drawers']">Drawers</button>
    </span>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu6"  #menuTrigger6="matMenuTrigger"
  [routerLink]="['/protected/home/sports']" (mouseenter)="buttonEnter(menuTrigger6)" (mouseleave)="buttonLeave(menuTrigger6)" style="z-index:1050">Sports & Outdoors</button>
  <mat-menu #menu6="matMenu">
    <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(menuTrigger6)">
      <button mat-menu-item [routerLink]="['/protected/home/exercise']">Exercise</button>
      <button mat-menu-item [routerLink]="['/protected/home/yoga']">Yoga</button>
      <button mat-menu-item [routerLink]="['/protected/home/cycling']">Cycling</button>
      <button mat-menu-item [routerLink]="['/protected/home/skateboarding']">Skateboarding</button>
      <button mat-menu-item [routerLink]="['/protected/home/camping']">Camping</button>
    </span>
  </mat-menu>
  
</mat-toolbar>


<mat-divider></mat-divider>
