<mat-toolbar color="primary">
    <button mat-button routerLink="../home"> <span><mat-icon>eco</mat-icon> ResellU</span> </button>
    
    <div class="wrapper">
        <div class="searchBar">
          <input id="searchQueryInput" type="text" name="searchQueryInput" placeholder="Search" value="" />
        </div>
    </div>
    <span>Current Address</span>
   
    <div class="spacer"></div>
    <a mat-button routerLink="home">Favorites</a>
    <a mat-button routerLink="services">Messages</a>
    <a mat-raised-button color="accent" [routerLink]="['../create-listing']">Create Listing</a>
    <button mat-button mat-button [matMenuTriggerFor]="menu1"  #menuTrigger1="matMenuTrigger"> <img src="https://material.angular.io/assets/img/examples/shiba1.jpg"> 
    </button>
    <mat-menu #menu1="matMenu" [hasBackdrop]="false">
      <span>
        <button class="profile-button" mat-menu-item [routerLink]="['../profile']">
          <!-- <mat-card class="profile-card"> 
              <mat-card-header>
                <div mat-card-avatar class="avatar"></div>
                <mat-card-title>Username</mat-card-title>
                <mat-card-subtitle>View public profile</mat-card-subtitle>
              </mat-card-header>  
          </mat-card> -->
          <div>
            <img src="https://material.angular.io/assets/img/examples/shiba1.jpg"> 
            <!-- <p>{{profileData.picture}}   </p> -->
            View Public Profile
          </div>
        </button>
        <button mat-menu-item [routerLink]="['/home/selling']">Selling</button>
        <button mat-menu-item  [routerLink]="['/home/setting']">Account Settings</button>
        <button mat-menu-item [routerLink]="['/public/login']">Log out</button>
      </span>
    </mat-menu>
  </mat-toolbar>