<mat-toolbar color="primary" class="mat-elevation-z8">
    <span><mat-icon>eco</mat-icon> ResellU</span>
    
    <div class="wrapper">
        <div class="searchBar">
          <input id="searchQueryInput" type="text" name="searchQueryInput" placeholder="Search" value="" />
        </div>
    </div>
    <span>Current Address</span>
   
    <div class="spacer"></div>
    <a mat-button routerLink="home">Favorites</a>
    <a mat-button routerLink="services">Messages</a>
    <a mat-raised-button color="accent" [routerLink]="['../create-listing']">Create Listing</a>
    <button mat-button mat-button [matMenuTriggerFor]="menu1"  #menuTrigger1="matMenuTrigger">Profile</button>
    <mat-menu #menu1="matMenu" [hasBackdrop]="false">
      <span>
        <button class="profile-button" mat-menu-item [routerLink]="['../protected/profile']">
          <!-- <mat-card class="profile-card"> 
              <mat-card-header>
                <div mat-card-avatar class="avatar"></div>
                <mat-card-title>Username</mat-card-title>
                <mat-card-subtitle>View public profile</mat-card-subtitle>
              </mat-card-header>  
          </mat-card> -->
          <div>
            
            Username
            View Public Profile
          </div>
        </button>
        <button mat-menu-item [routerLink]="['../home/computers']">Selling</button>
        <button mat-menu-item  [routerLink]="['../home/phones']">Account Settings</button>
        <button mat-menu-item [routerLink]="['../home/consoles']">Log out</button>
      </span>
    </mat-menu>
  </mat-toolbar>